# Sanity CMS – skapa ett gratis projekt på https://www.sanity.io/manage
# och kopiera denna fil till .env.local med dina riktiga värden.
NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET="production"
